.contentTitle {
	font: $fancyFont;
	text-align: center;
}
.contactIntro {
	font: $fancyFont;
	text-align: center;
	margin: 0px 300px 20px 300px;
}

.googleReport {
	height: 960px;
}

.imageFrame {
	text-align:center;
	margin: 30px auto 80px;
}
